<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head> 
        <link th:href="@{/form-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a th:href="@{/}" class="active">Form</a>
            <a th:href="@{/inventory}">Inventory</a>
        </div>
        <div class="container">    
            <h2> Loot Locker </h2>
            <form method="post" th:object="${item}" th:action="@{/submitItem}">
                <select th:field="*{type}" class="select">
                    <option value="" disabled selected hidden="">Choose type</option>
                    <option th:each="type: ${types}" th:text="${type}" th:value="${type}"></option>
                </select>
                <input th:field="*{name}" type="text" placeholder="Name" th:action="@{/submitItem}">
                <input th:field="*{rarity}" class="half" type="text" placeholder="Rarity">
                <input th:field="*{price}" class="half" type="text" placeholder="Price">
                <h4>Item dropped</h4>
                <input th:field="*{date}" type="date" style="color:black">
                <input th:field="*{id}" type="hidden">
                <input type="submit" value="Submit Item">
            </form>
        </div>      
    </body>
</html>
