<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head> 
        <link th:href="@{/inventory-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a  th:href="@{/}" >Form</a>
            <a class="active" th:href="@{/inventory}">Inventory</a>
        </div>
   
        <div class="container">
           <table>
              <tr class="head">
                 <th>Type</th>
                 <th>Item Name</th>
                 <th>Rarity</th>
                 <th>Price</th>
                 <th>Item dropped</th>
                 <th> </th>
              </tr>
              <tr>
                  <td >Weapon</td>
                  <td >Excalibur</th>
                 <td >Legendary</td>
                 <td type="currency">1657.23</td>
                 <td type="date">1996-02-02</td>
                 <td>
                    <a role="button" style="color:white; background-color: #263238" class="table-button">Update</a>
                 </td>
              </tr>
           </table>
        </div>
   </body>
</html>
