<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head> 
        <link th:href="@{/inventory-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a th:href="@{/}">Form</a>
            <a th:href="@{/inventory}" class="active">Inventory</a>
        </div>
        <div class="alert success" th:if="${status} == 'success'">
            <strong> You successfully submitted the item! </strong>
        </div>
        <div class="alert" th:if="${status} == 'failed'">
            <strong > You failed to submit the item. </strong>
        </div>
        <div class="container">
           <table>
              <tr class="head">
                 <th>Type</th>
                 <th>Item Name</th>
                 <th>Rarity</th>
                 <th>Price</th>
                 <th>Item dropped</th>
                 <th> </th>
              </tr>
              <tr th:each="item: ${items}">
                  <td th:text="${item.type}"></td>
                  <td th:text="${item.name}"></td>
                  <td th:text="${item.rarity}"></td>
                  <td th:text="${#numbers.formatCurrency(item.price)}"></td>
                  <td th:text="${#dates.format(item.date,'dd-MM-yyyy')}" type="date"></td>
                  <td>
                    <a th:href="@{/(id = ${item.id})}" role="button" style="color:white; background-color: #263238" class="table-button">Update</a>
                 </td>
              </tr>
           </table>
        </div>
   </body>
</html>
